// @color: #;

// width
$x-small: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1500px;

// color
$headerColor: #fbfbfbed;
$main-color: #ffffff;
$secondary-color: #fff;

$global-txt-color: #0B1739;


